<style>
body {font-family: "Lato", sans-serif}
</style>
<h3>Todo List</h3>

<ul>
    {% for todo_item in todo_items %}
    <li>{{ todo_item.content }}
        <form action="/deleteTodo/{{todo_item.id}}/"
              style="display: inline"
              method="post" >{% csrf_token %}
            <input type="submit" value="Delete"/>
            <a href = "{% url 'updateTodo' todo_item.id %}">Update</a>
        </form>
    </li>
    {% endfor %}
</ul>

<form action="" method="post" >
    {{form.content}}
    {% csrf_token %}
    <input type="submit" value="Add"/>
</form>